### This is my notebook for the exercise 2.7 (first edition) of ESM

This exercise involves comparing classification performance of K-Nearest Neighbors vs Linear Regression for the *zipcode* dataset that will be explored.

In [2]:
#standard imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [32]:
#get training data
train = pd.read_csv('C:/Users/600192/Downloads/zip.train.gz',compression='gzip',sep=' ')

In [47]:
train.head()

,6.0000,-1.0000,-1.0000.1,-1.0000.2,-1.0000.3,-1.0000.4,-1.0000.5,-1.0000.6,-0.6310,0.8620,...,0.8230,1.0000.39,0.4820,-0.4740,-0.9910,-1.0000.121,-1.0000.122,-1.0000.123,-1.0000.124,Unnamed: 257
0,5.0,-1.0,-1.0,-1.0,-0.813,-0.671,-0.809,-0.887,-0.671,-0.853,...,-0.671,-0.033,0.761,0.762,0.126,-0.095,-0.671,-0.828,-1.0,NaN
1,4.0,-1.0,-1.0,-1.0,-1.000,-1.000,-1.000,-1.000,-1.000,-1.000,...,-1.000,-1.000,-0.109,1.000,-0.179,-1.000,-1.000,-1.000,-1.0,NaN
2,7.0,-1.0,-1.0,-1.0,-1.000,-1.000,-0.273,0.684,0.960,0.450,...,1.000,0.536,-0.987,-1.000,-1.000,-1.000,-1.000,-1.000,-1.0,NaN
3,3.0,-1.0,-1.0,-1.0,-1.000,-1.000,-0.928,-0.204,0.751,0.466,...,0.639,1.000,1.000,0.791,0.439,-0.199,-0.883,-1.000,-1.0,NaN
4,6.0,-1.0,-1.0,-1.0,-1.000,-1.000,-0.397,0.983,-0.535,-1.000,...,0.015,-0.862,-0.871,-0.437,-1.000,-1.000,-1.000,-1.000,-1.0,NaN

In [48]:
#clean up and split into features and target
train['digit'] = train['6.0000']
train.drop(columns=['6.0000','Unnamed: 257'],inplace=True)
train.fillna(0,inplace=True)
train = train[train['digit'].apply(lambda x: x in [2,3])]

x_train, y_train = train.iloc[:,:-1], train['digit']

In [51]:
train['digit'].value_counts()

2.0    731
3.0    658
Name: digit, dtype: int64

In [52]:
#also grab the test set and merge together in a similar way
test = pd.read_csv('C:/Users/600192/Downloads/zip.test.gz',compression='gzip',sep=' ')

In [53]:
test['9'].value_counts()

0    359
1    264
4    200
2    198
9    176
6    170
8    166
3    166
5    160
7    147
Name: 9, dtype: int64

In [54]:
test['digit'] = test['9']
test.drop(columns=['9'],inplace=True)

In [55]:
test.head()

,-1,-1.1,-1.2,-1.3,-1.4,-0.948,-0.561,0.148,0.384,0.904,...,-0.908,0.43,0.622,-0.973,-1.137,-1.138,-1.139,-1.140,-1.141,digit
0,-1.0,-1.0,-1.0,-1.000,-1.0,-1.0,-1.000,-1.000,-1.000,-1.000,...,-1.000,-1.000,-1.000,-1.000,-1.000,-1.000,-1.0,-1.0,-1.0,6
1,-1.0,-1.0,-1.0,-0.593,0.7,1.0,1.000,1.000,1.000,0.853,...,0.717,0.333,0.162,-0.393,-1.000,-1.000,-1.0,-1.0,-1.0,3
2,-1.0,-1.0,-1.0,-1.000,-1.0,-1.0,-1.000,-1.000,-1.000,-1.000,...,-1.000,-1.000,-1.000,-1.000,-1.000,-1.000,-1.0,-1.0,-1.0,6
3,-1.0,-1.0,-1.0,-1.000,-1.0,-1.0,-1.000,-0.858,-0.106,0.802,...,0.901,0.901,0.290,-0.369,-0.867,-1.000,-1.0,-1.0,-1.0,6
4,-1.0,-1.0,-1.0,-1.000,-1.0,-1.0,0.195,1.000,0.054,-1.000,...,1.000,0.988,0.187,0.139,-0.641,-0.812,-1.0,-1.0,-1.0,0

In [60]:
test = test[test['digit'].apply(lambda x: x in [2,3])]

In [61]:
test.fillna(0,inplace=True)

In [63]:
x_test, y_test = test.iloc[:,:-1], test['digit']

In [67]:
#import knn classifier and classification report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [68]:
#try out different values of k and print classification report
for k in [1,3,5,7,10]:
    print('Running K-Nearest Neighbors classifier with k={}'.format(k))
    knn = KNeighborsClassifier(n_neighbors=k)
    model = knn.fit(x_train,y_train)
    results = model.predict(x_test)
    print('Accuracy is: {}'.format(accuracy_score(y_test,results)))
    print(classification_report(y_test,results))

Running K-Nearest Neighbors classifier with k=1
Accuracy is: 0.9752747252747253
              precision    recall  f1-score   support

           2       0.98      0.97      0.98       198
           3       0.96      0.98      0.97       166

   micro avg       0.98      0.98      0.98       364
   macro avg       0.97      0.98      0.98       364
weighted avg       0.98      0.98      0.98       364

Running K-Nearest Neighbors classifier with k=3
Accuracy is: 0.9697802197802198
              precision    recall  f1-score   support

           2       0.98      0.96      0.97       198
           3       0.96      0.98      0.97       166

   micro avg       0.97      0.97      0.97       364
   macro avg       0.97      0.97      0.97       364
weighted avg       0.97      0.97      0.97       364

Running K-Nearest Neighbors classifier with k=5
Accuracy is: 0.9697802197802198
              precision    recall  f1-score   support

           2       0.98      0.96      0.97       198
           3       0.96      0.98      0.97       166

   micro avg       0.97      0.97      0.97       364
   macro avg       0.97      0.97      0.97       364
weighted avg       0.97      0.97      0.97       364

Running K-Nearest Neighbors classifier with k=7
Accuracy is: 0.967032967032967
              precision    recall  f1-score   support

           2       0.98      0.95      0.97       198
           3       0.95      0.98      0.96       166

   micro avg       0.97      0.97      0.97       364
   macro avg       0.97      0.97      0.97       364
weighted avg       0.97      0.97      0.97       364

Running K-Nearest Neighbors classifier with k=10
Accuracy is: 0.9642857142857143
              precision    recall  f1-score   support

           2       0.98      0.95      0.97       198
           3       0.94      0.98      0.96       166

   micro avg       0.96      0.96      0.96       364
   macro avg       0.96      0.97      0.96       364
weighted avg       0.97      0.96      0.96       364

#### Now try a linear regression classifier

In [69]:
from sklearn.linear_model import LinearRegression

In [70]:
model = LinearRegression().fit(x_train,y_train)

In [71]:
vals = model.predict(x_test)

In [76]:
#need to take floor function of each result
from math import floor
vals = list(map(lambda x: floor(x),vals))

In [77]:
accuracy_score(y_test,vals)

0.5082417582417582