### This is my notebook for the exercise 2.7 (first edition) of ESM

This exercise involves comparing classification performance of K-Nearest Neighbors vs Linear Regression for the *zipcode* dataset that will be explored.

In [1]:
#standard imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
#get the dataset
import requests
import io

#grab the url content and read into pandas with the IO reader
two_digit_train_url = 'https://web.stanford.edu/~hastie/ElemStatLearn/datasets/zip.digits/train.2'
f = requests.get(two_digit_train_url).content

two_digit_train = pd.read_csv(io.StringIO(f.decode('utf-8')))

In [4]:
#check out the data
two_digit_train.head()

,-1,-1.1,-1.2,-1.3,-1.4,-0.798,0.3,0.432,-0.799,-1.5,...,-0.947,-0.524,0.307,0.39,0.852,0.751,0.99.1,0.567,-0.664,-1.132
0,-1.0,-1.0,-1.0,-1.0,-1.000,-0.638,0.222,0.706,1.000,0.731,...,-0.576,0.635,0.755,0.549,0.273,0.074,-0.083,-1.000,-1.000,-1.0
1,-1.0,-1.0,-1.0,-1.0,-1.000,-1.000,-1.000,-1.000,-1.000,-1.000,...,-1.000,-1.000,-1.000,-1.000,-1.000,-1.000,-1.000,-1.000,-1.000,-1.0
2,-1.0,-1.0,-1.0,-1.0,-1.000,-1.000,-1.000,-1.000,-1.000,-1.000,...,-1.000,-1.000,-1.000,-1.000,-1.000,-1.000,-1.000,-1.000,-1.000,-1.0
3,-1.0,-1.0,-1.0,-1.0,-1.000,-1.000,-1.000,-1.000,-1.000,-1.000,...,-1.000,-1.000,-1.000,-1.000,-1.000,-1.000,-1.000,-1.000,-1.000,-1.0
4,-1.0,-1.0,-1.0,-1.0,-0.772,0.463,0.200,0.750,-0.276,-1.000,...,-1.000,-1.000,-1.000,-1.000,-1.000,-0.843,0.322,0.814,-0.588,-1.0

In [5]:
two_digit_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Columns: 256 entries, -1 to -1.132
dtypes: float64(254), int64(2)
memory usage: 1.4 MB

In [6]:
#also grab the three; want to eventually merge wtih the two data for the classification problem of 2 vs 3
three_digit_train_url = 'https://web.stanford.edu/~hastie/ElemStatLearn/datasets/zip.digits/train.3'
f = requests.get(three_digit_train_url).content

three_digit_train = pd.read_csv(io.StringIO(f.decode('utf-8')))

In [8]:
#append training labels to each
two_digit_train['digit'] = ['2']*len(two_digit_train)
three_digit_train['digit'] = ['3']*len(three_digit_train)

In [9]:
#combine and shuffle
train = two_digit_train.append(three_digit_train)
train = train.sample(frac=1).reset_index(drop=True)

C:\Users\600192\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [12]:
train['digit'].value_counts()

2    730
3    657
Name: digit, dtype: int64

In [32]:
#also grab the test set and merge together in a similar way
test = pd.read_csv('C:/Users/600192/Downloads/zip.test.gz',compression='gzip',sep=' ')

In [40]:
test['9'].value_counts()

0    359
1    264
4    200
2    198
9    176
6    170
8    166
3    166
5    160
7    147
Name: 9, dtype: int64

In [42]:
test['digit'] = test['9']
test.drop(columns=['9'],inplace=True)